@{ ViewData["Title"] = "Home Page"; }
<form class="card">
    <div class="card-header">
        <h1>Connekt PVC Client</h1>
        <h7>Use the button for the action you'd like to achieve. Fill out all previous form fields for the action to work.</h7>
    </div>
    <div class="row card-body">
        <button style="margin:2px" id="execute-bulk" type="button" class="btn btn-secondary">Execute Bulk</button>
        <input style="margin:2px" class="form-control" id="serial" placeholder="Serial" />
        <button style="margin:2px" id="delete-device" type="button" class="btn btn-danger">Delete Device</button>
        <input style="margin:2px" class="form-control" id="sim" placeholder="SIM" />
        <button style="margin:2px" id="add-device" type="button" class="btn btn-success">Add Device</button>
        <div class="divider"></div>
        <input style="margin:2px" class="form-control" id="zip" placeholder="Zip" />
        <button style="margin:2px" id="activate" type="button" class="btn btn-primary">Activate</button>
        <div class="divider"></div>
        <input style="margin:2px" class="form-control" id="current-min" placeholder="current MIN" />
        <input style="margin:2px" class="form-control" id="current-account-number" placeholder="current account number" />
        <input style="margin:2px" class="form-control" id="current-service-provider" placeholder="current service provider" />
        <button style="margin:2px" id="internal-port" type="button" class="btn btn-info">Internal Port</button>
        <input style="margin:2px" class="form-control" id="v-key" placeholder="V Key" />
        <button style="margin:2px" id="external-port" type="button" class="btn btn-info">External Port</button>
    </div>
    <div class="card-footer">
        Coming Soon: Bulk updates and Delete, Deactivate, Account Details and Sim Change actions.
    </div>
</form>
<div>
    <h1 id="result"></h1>
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
}
