@{ ViewData["Title"] = "Home Page"; }
@model dynamic;
<form>
    <div class="card">
        <div class="card-header">
            <h1>Connekt PVC Client</h1>
            <h7>Use the button for the action you'd like to achieve. Fill out all previous form fields for the action to work.</h7>
        </div>
        <div class="row card-body">
            <input style="margin:2px" class="form-control" id="serial" placeholder="Serial" />
            <button style="margin:2px" id="delete-device" type="button" class="btn btn-primary">Delete Device</button>
            <input style="margin:2px" class="form-control" id="sim" placeholder="SIM" />
            <button style="margin:2px" id="add-device" type="button" class="btn btn-primary">Add Device</button>
            <div class="divider"></div>
            <input style="margin:2px" class="form-control" id="zip" placeholder="Zip Code" />
            <input style="margin:2px" class="form-control" id="min" placeholder="Current MDN" />
            <button style="margin:2px" id="change-sim" type="button" class="btn btn-primary">Change SIM</button>
            <div class="divider"></div>
            <input style="margin:2px" class="form-control" id="current-min" placeholder="current MDN" />
            <input style="margin:2px" class="form-control" id="current-account-number" placeholder="current account number" />
            <input style="margin:2px" class="form-control" id="current-service-provider" placeholder="current service provider" />
            <button style="margin:2px" id="internal-port" type="button" class="btn btn-primary">Internal Port</button>
            <input style="margin:2px" class="form-control" id="v-key" placeholder="V Key" />
            <button style="margin:2px" id="external-port" type="button" class="btn btn-primary">External Port</button>
        </div>
    </div>
    <div class="card mt-4">
        <div class="row card-body">
            <a style="margin:5px; margin-left: 2px;" href="/home/GetAccountDetails" class="btn btn-primary">Get Account Details</a>
            <button style="margin:5px; margin-left: 2px;" id="execute-bulk" type="button" class="btn btn-success">Execute Bulk</button>
        </div>
    </div>
    <div class="card mt-4">
        <div class="row card-body">
            <h5 class="card-title">Activate</h5>

            <input style="margin:2px" class="form-control" id="activate-serial" placeholder="IMEI" />
            <input style="margin:2px" class="form-control" id="activate-sim" placeholder="SIM" />
            <input style="margin:2px" class="form-control" id="activate-zip" placeholder="Zip Code" />

            <h6>Payment</h6>
            <select id="activate-payment" style="margin:2px;" class="form-control">
                <option selected="true" disabled="disabled">Select Payment Source</option>
                @if (Model != null)
                {
                    @foreach (dynamic paymentSource in Model)
                    {
                        <option value="@paymentSource">@paymentSource</option>

                    }
                }
            </select>
            <input style="margin:2px" class="form-control" id="activate-cvv" placeholder="CVV" />

            <h6>Billing Address</h6>
            <input style="margin:2px" class="form-control" id="activate-billing-address" placeholder="Address" />
            <input style="margin:2px" class="form-control" id="activate-billing-city" placeholder="City" />
            <input style="margin:2px" class="form-control" id="activate-billing-state" placeholder="State" />
            <input style="margin:2px" class="form-control" id="activate-billing-country" placeholder="Country" />
            <input style="margin:2px" class="form-control" id="activate-billing-zip" placeholder="Zip Code" />
            <button style="margin:2px" id="activate" type="button" class="btn btn-primary">Activate</button>
        </div>
    </div>
    <div class="card mt-4">
        <div class="row card-body">
            <h5 class="card-title">Account Management</h5>

            <input style="margin:2px" class="form-control" id="am-device" placeholder="Device Id" />
            <input style="margin:2px" class="form-control" id="am-zip-code" placeholder="Zip Code" />
            <div class="form-group w-100 m-1">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="device-type" id="handset" value="HANDSET" checked>
                    <label class="form-check-label" for="handset">Handset</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="device-type" id="line" value="LINE" disabled>
                    <label class="form-check-label" for="line">Line</label>
                </div>
            </div>
            <br />
            <button style="margin:2px" id="deactivate-and-retaine-days" type="button" class="btn btn-primary">Deactivate and Retain Days</button>
            <button style="margin:2px" id="deactivate-past-due" type="button" class="btn btn-primary">Deactivate Past Due</button>
            <button style="margin:2px;" id="reactivate" type="button" class="btn btn-primary">Reactivate</button>
        </div>
    </div>
    <div class="card mt-4">
        <div class="row card-body">
            <h5 class="card-title">Get Balance</h5>
            <input style="margin:2px" class="form-control" id="phone-number" placeholder="Phone Number" />
            <button style="margin:2px" class="btn btn-primary" id="get-balance">Get Balance</button>
        </div>
    </div>
    <div class="card mt-4">
        <div class="row card-body">
            <h5 class="card-title">Payment Sources</h5>
            <select id="payment-sources" class="form-control">
                <option selected="true" disabled="disabled">Select Payment Source</option>
                @if (Model != null)
                {
                    @foreach (dynamic paymentSource in Model)
                    {
                        <option value="@paymentSource">@paymentSource</option>

                    }
                }
            </select>
            <button style="margin:5px; margin-left: 2px;" id="payment-details" type="button" class="btn btn-primary">Get Details</button>
        </div>
    </div>
    <div class="card mt-4">
        <div class="row card-body">
            <h5 class="card-title">Device Details</h5>

            <input style="margin:2px" class="form-control" id="device-id" placeholder="Device ID" />
            <div class="form-group w-100 m-1">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="device-type" id="handset" value="HANDSET">
                    <label class="form-check-label" for="handset">Handset</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="device-type" id="line" value="LINE">
                    <label class="form-check-label" for="line">Line</label>
                </div>
            </div>
            <br />
            <button style="margin:5px; margin-left: 2px;" id="device-details" type="button" class="btn btn-primary">Get Details</button>
        </div>
    </div>
</form>
<div>
    <p class="results-label">Results</p>
    <div id="result"></div>
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
}
